<nav class="container1">
  <mat-toolbar>
    <div class="nav-upper">
      <div class="nav-btns">
        <button
          mat-button
          [matMenuTriggerFor]="headerMenu"
          mat-icon-button
          class="arrow-btn"
          aria-haspopup="true"
          (click)="activeMenu()"
        >
          <div class="sidebar-ic">I</div>
          <div class="nav-name">
            <p>Intern Exam</p>
          </div>
          <button mat-icon-button class="btn-ripple">
            <mat-icon role="img">keyboard_arrow_down</mat-icon>
            <div
              matRipple
              [matRippleCentered]="'true'"
              [matRippleRadius]="20"
              [matRippleColor]="'#005ba91c'"
            ></div>
          </button>
        </button>
        <button mat-icon-button class="btn-ripple-menu" (click)="activeMenu()">
          <mat-icon role="img">menu</mat-icon>
          <div
            matRipple
            [matRippleCentered]="'true'"
            [matRippleRadius]="20"
            [matRippleColor]="'#005ba91c'"
          ></div>
        </button>
      </div>
    </div>
  </mat-toolbar>
  <div class="nav-lower">
    <div>
      <mat-icon role="img">assignment</mat-icon>
      <a [routerLink]="['/question-builder']">Form</a>
    </div>
  </div>
</nav>

<div class="container2">
  <div class="head-con">
    <mat-toolbar class="header"> </mat-toolbar>
    <div class="hr-line"></div>
    <div class="header-logo">
      <img src="../../../assets/ACP_Logo.png" alt="acp logo" />
    </div>
  </div>
  <div class="main-body sm">
    <div class="mb-up">
      <p>FORMS</p>
      <p>Create and manage forms</p>
      <div class="mb-up-btns">
        <div class="em-out">
          <mat-icon role="img">search</mat-icon>
          <input matInput placeholder="Search form" type="text" />
        </div>
        <button
          mat-raised-button
          matRipple
          routerLink="/question-builder/create"
        >
          ADD FORM
        </button>
      </div>
    </div>
    <div class="mb-low">
      <div class="table">
        <div class="tab-r-h">
          <div class="tab-c-1-h">Name</div>
          <div class="tab-c-2-h asc" (click)="sort()">
            Created on<span class="fa fa-sort-asc"></span>
          </div>
        </div>
        <a
          class="tab-r"
          *ngFor="let datum of slicedData"
          routerLink="{{ datum.id }}/details"
        >
          <div class="tab-c-1">{{ datum.title }}</div>
          <div class="tab-c-2">{{ datum.date }}</div>
        </a>
        <div class="tab-r-f">
          <div class="tab-c-1-f">{{ data.length }} total</div>
          <div class="tab-c-2-f">
            <ul>
              <li class="pager-btn">
                <a href="javascript:void(0)" class="disabled"
                  ><i class="fa fa-step-backward" (click)="backward()"></i
                ></a>
              </li>
              <li class="pager-btn">
                <a href="javascript:void(0)" class="disabled"
                  ><i class="fa fa-chevron-left" (click)="left()"></i
                ></a>
              </li>
              <li class="page-no disabled" *ngFor="let i of pager.slice">
                <a href="javascript:void(0)" (click)="jumpPage($event)">{{
                  i + 1
                }}</a>
              </li>
              <li class="pager-btn">
                <a href="javascript:void(0)"
                  ><i class="fa fa-chevron-right" (click)="right()"></i
                ></a>
              </li>
              <li class="pager-btn">
                <a href="javascript:void(0)"
                  ><i class="fa fa-step-forward" (click)="forward()"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-menu
  yPosition="below"
  #headerMenu="matMenu"
  class="mat-menu-c"
  style="min-width: 190px"
>
  <ng-template matMenuContent>
    <button mat-menu-item routerLink="/question-builder">
      <mat-icon role="img">account_circle</mat-icon>
      <span>My Account</span>
    </button>
    <button mat-menu-item mat-raised-button (click)="openDialog()">
      <mat-icon role="img">info</mat-icon>
      <span>About</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon role="img">exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </ng-template>
</mat-menu>
