<div class="bread-con">
  <ul>
    <li class="breadBtn">
      <a routerLink="/question-builder">Form</a>
      <span class="arrow"></span>
    </li>
    <li class="breadBtn">
      <a routerLink="{{ pathName }}" *ngIf="isActive; else isActiveTemp">{{
        title
      }}</a>
      <ng-template #isActiveTemp>
        <span>
          {{ title }}
        </span>
      </ng-template>
      <span class="arrow"></span>
    </li>
    <li>
      <span>
        {{ breadName }}
      </span>
    </li>
  </ul>
</div>
