<div class="dialog-con">
  <div class="dia-up">
    <button mat-icon-button class="btn-ripple" (click)="onNoClick()">
      <mat-icon role="img">close</mat-icon>
      <div matRipple [matRippleCentered]="'true'" [matRippleRadius]="20"></div>
    </button>
  </div>
  <div class="dia-dow">
    <div class="dia-img">
      <img src="../../../assets/ACP_Logo.png" alt="site_logo" />
    </div>
    <div class="dia-name">
      <p>ACP</p>
      <p>v1.0.0.05272019</p>
    </div>
    <div class="dia-desc">
      <p>© ACP 2022. All rights reserved.</p>
      <div class="dia-hr"></div>
      <p>
        Technology & Design by
        <a href="https://selise.ch/" target="_blank">SELISE rockin' software</a>
      </p>
    </div>
  </div>
</div>
