.mat-icon {
  color: #005ba9 !important;
  vertical-align: middle;
}

.mat-toolbar-single-row {
  padding: 0;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

nav.container1 {
  width: 280px;
  height: 100%;
  min-width: 64px;
  background: #fafafa;
  position: fixed;
  left: 0;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 35%);
  background-color: white;
  overflow: hidden;
  z-index: 10;
  > mat-toolbar {
    background-color: white;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
      0 1px 3px 0 rgb(0 0 0 / 12%);
  }
}

nav.container1.sm {
  width: 64px;
  max-width: 64px;
}

.nav-upper {
  width: 100%;
  padding-left: 24px;
  padding-right: 16px;
  transition: padding 0.2s ease;
  transition-property: padding;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.nav-upper.sm {
  padding: 0 13px;
}

.nav-name {
  margin-left: 12px;
}

.nav-name p {
  font-size: 15px;
  letter-spacing: 1.1px;
  font-family: Poppins;
  color: #636363;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  line-height: 18px;
  width: 96px;
  min-width: 96px;
  max-width: 96px;
  word-break: break-word;
  margin: 0;
}

.nav-btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.arrow-btn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.arrow-btn mat-icon {
  font-size: 16px !important;
  width: 16px !important;
  height: 16px !important;
  min-width: 16px !important;
  min-height: 16px !important;
  line-height: 18px !important;
  font-weight: 400 !important;
}

[class^="btn-ripple"] {
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 300px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
  > div {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1),
      background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  }
  > mat-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn-ripple-menu mat-icon {
  height: 24px;
  width: 24px;
  font-weight: 400 !important;
  line-height: 27px !important;
}

.sidebar-ic {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100%;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(142, 68, 173);
  font: 16px / 40px Helvetica, Arial, sans-serif;
  padding: 0 13px;
}

.nav-lower {
  padding-top: 24px;
  > div {
    background-color: #005ba9;
    color: #fff;
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    height: 48px;
    padding: 0 24px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    > a {
      color: white;
      font-family: Poppins;
      font-size: 16px;
      text-decoration: none;
      line-height: 23px;
      margin-left: -8px;
      letter-spacing: 1.1px;
    }
    > mat-icon {
      line-height: 24px !important;
      background-color: #005ba9 !important;
      color: #fff !important;
      border-top-right-radius: 33px;
      border-bottom-right-radius: 33px;
      font-size: 22px;
      margin-right: 16px;
    }
  }
}

.nav-lower.sm > div > a {
  display: none;
}

::ng-deep.mat-form-field-flex {
  padding: 0 !important;
  margin: 0 !important;
}

::ng-deep.mat-form-field-wrapper {
  padding: 0 !important;
  margin: 0 !important;
}

::ng-deep.mat-form-field-infix {
  display: flex !important;
  flex-flow: row nowrap !important;
  height: 40px !important;
  padding: 0 !important;
  border: 0 !important;
}

::ng-deep.mat-menu-panel {
  min-width: 190px !important;

  .mat-icon {
    color: rgba(0, 0, 0, 0.54) !important;
  }
  button > span {
    font-family: Poppins;
    word-break: break-word;
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
  }
}
