@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
ol,
ul,
menu,
figure,
blockquote,
p,
pre,
form,
button {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div.container2 {
  padding-left: 64px;
  background: #fafafa;
  height: 100%;
  > .main-body {
    height: calc(100% - 65px);
    margin-left: 0;
    margin-top: 1px;
    background-color: #f2f2f2;
  }
}

.main-body {
  padding: 24px;
}

.main-body.sm {
  margin-left: 216px !important;
}
